/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

:root.light{
    --max-width: 1000px;
    --primary-color: #f36643;
    --bg-primary: #fefefe;
    --bg-secondary: #f9f9f9;
    --bg-darker: #eeeeee;
    --bg-thirdary: #ffffff; 
    --bg-fourthary: #f6f6f6;
    --bg-hover: #f5f5f5;
    --bg-hover-dark: #e0e0e0;
    --separator: #eeeeeeda;
    --separator2: #ddddddda;
    --separator3: #9c9c9cda;
    --separator4: #666;
    --accent-color: #f36643;
    --text-color: #5e5e5e;
    --text-color-light: #888888;
    --text-color-dark: #4e4e4e;
    --text-color-darker: #303030;
    --text-color2: #303030;
    --veil-color: #4242423b;
    --shadow-val1: #00000020    ; --shadow-val2: #00000010;
    --shadow-subs-border: 1px solid transparent;
    --shadow-subs-border2: 1px solid transparent;
    --shadow-subs-border3: 1px solid #555;
    --parser-border: 1px solid #bbb;


}    
:root.dark{   
    --max-width: 1000px;
    --primary-color: #f36643;
    --bg-primary: #161616;
    --bg-secondary: #202020;
    --bg-darker: rgb(10, 10, 10);
    --bg-thirdary: #0c0c0c; 
    --bg-fourthary: #101010;
    --bg-inv: rgb(211, 211, 211);
    --bg-hover: #444444;
    --bg-hover-dark: #414141;
    --separator: #555555da;
    --separator2: #8d8d8dda;
    --separator3: #a1a1a1da;
    --separator4: #b4b4b4;
    --accent-color: #f36643;
    --text-color: #dddddd;
    --text-color-light: #b6b6b6;
    --text-color-dark: #eeeeee;
    --text-color-darker: #f7f7f7;
    --text-color2: #dbdbdb;
    --veil-color: #000000c9;
    --shadow-val1: transparent; --shadow-val2: transparent;
    --shadow-subs-border: 1px solid #4e4e4e;
    --shadow-subs-border2: 1px solid #5e5e5e;
    --parser-border: 1px solid #555;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color-dark);
    /* transition: all .3s ease-in-out; */
  }

body{
    font-family: 'Open Sans' , sans-serif;
    color: #434343;
    background: var(--bg-secondary);
    /* transition: all .3s ease-in-out; */
}

/* ========== utility classes =========== */
.container{
    max-width: var(--max-width);
}

.flex{
    display: flex;
}
.spc-btw{
    justify-content: space-between;
}
.center-x{
    justify-content: center;
}
.center-y{
    align-items: center;
}
.my-auto{
    margin-left: auto;
    margin-right: auto;

}
.py-05r{padding-left: .5rem; padding-right: .5rem;}
.py-1r{padding-left: 1rem; padding-right: 1rem;}
.py-2r{padding-left: 2rem; padding-right: 2rem;}
.px-05r{padding-top: .5rem; padding-bottom: .5rem;}
.px-1r{padding-top: 1rem; padding-bottom: 1rem;}
.px-2r{padding-top: 2rem; padding-bottom: 2rem;}

.my-05r{margin-left: .5rem; margin-right: .5rem;}
.my-1r{margin-left: 1rem; margin-right: 1rem;}
.my-2r{margin-left: 2rem; margin-right: 2rem;}
.mx-05r{margin-top: .5rem; margin-bottom: .5rem;}
.mx-1r{margin-top: 1rem; margin-bottom: 1rem;}
.mx-2r{margin-top: 2rem; margin-bottom: 2rem;}

.shadow{
    box-shadow: 2px 2px 5px var(--shadow-val1), -1px -1px 10px var(--shadow-val2);
}

.bg-primary{
    background: var(--bg-primary);
}
.bg-secondary{
    background: var(--bg-secondary);

}
.bg-primary-color{
    background: var(--primary-color);
}

.mark-cont > mark{
    background: rgb(255, 254, 172);
    border-radius: 5px;
}

.br-rnd{
    border-radius: 10px;
}

.veil{
    content: "";
    height: 120vh; width: 120vw;
    display: block;
    background: var(--veil-color);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    z-index: 5;
}

.btn-hover:hover{
    cursor: pointer;
    color: var(--primary-color);
}

.anm-expand-up{
    animation: expand-up .4s ease-in-out forwards;
}
.anm-expand-up-reverse{
    animation: expand-up .4s ease-in-out backwards reverse;
}
@keyframes expand-up{
    0%{
        transform: translate(-50%, 30vh) scale(0);
        opacity: 0;
    }
    100%{
        transform: translateY(-50%, -50%) scale(100%);
        opacity: 100%;
    }
}
.anm-fade-in{
    animation: fade-in .4s ease-in-out forwards
}
.anm-fade-in-reverse{
    animation: fade-in-reverse .4s ease-in-out forwards;

}
@keyframes fade-in {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
    
}
/* just reversing the prev animation doesn't wanna work??? */
@keyframes fade-in-reverse{
    0%{opacity: 1}
    100%{opacity: 0}
}

